.button {
    border: 1px $secondaryColor;
    background-color: $colorPale
    ;
    padding: 15px 30px;
    text-align: center;
    font-size: $textSm;
    cursor: pointer;
    box-shadow: 2px 2px 10px $secondaryColor;
    border-radius: 20px;
    &:hover {
        color: $colorPale;
        background-size: 100% 2px
        }
    }

.verde {
    @extend .button;
    background-color: $colorButtonHover;
}

.amarillo {
    @extend .button;
    background-color: $ColorGrey;
}
.rojo {
    @extend .button;
    background-color: $ColorProyect;
}
.contenedor_proyectos_bim {
    text-align: center;
    padding: 10px;
    margin: auto;
}

.contenedor_previo_bim {
    text-align: center;
    padding: 5px;
}

