body {
    background-image: url(../img/background/background2.png);
    margin: 0;
    }

h1 {
    color: $keyColor;
    padding: 5px;
    font-size: $textLg;
    margin: 1em;

}
*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}