.container-404 {
    display: flex;
    margin: auto;
    text-align: center;
    width: 100%;
    padding: 20px;

}

.botton404 {
    margin: auto;
    text-decoration: none;
    background-color: $colorPale;
    font-size: $textMd;
}