//mixin
@mixin textos($size, $line, $color) {
    font-size: $size;
    line-height: $line;
    color: $color;
}

p {
    @include textos(1.2em,1.4em, black );
    padding: 10px 20px;
    margin: 1em;
}

