nav  {
    width: 100%;
    background-color: $colorNav;
    display: inline-flex;
    padding: 8px 20px;
    position: sticky;
    top: 0;
    left: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    ul {
        list-style: none;
        display: flex; 
        li { 
            display: inline-block;
            margin-right: 80px;
            a {
                color: $colorPale;
                text-decoration:double; 
                font-size: large;
                font-weight: 300;
            }
        }
    }

}

